.button {
    &--main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1.3125rem 4rem;
        background: #659dbd;
        outline: none;
        border: none;
        color: #ffffff;
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.375rem;
        transition: background-color 0.3s ease-in-out;

        &:hover{
            background: #5B8DAA;
        }

        @include breakpoint-up(large) {
            padding: 1.3125rem 8.875rem;
        }
    }

    &--slider{
        
    }
}
